.button {
  background-color: var(--color-dark);
  color: aliceblue;
  padding: 10px;
  border-radius: 8px;
  min-width: 80px;
  text-align: center;
  margin-block: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block: 3px;
}

.login-container {
  background-color: white;
  border-width: 1px;
  border-style: groove;
  padding: 50px 60px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  /* margin: 30vh 0 0 40vw; */
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-text {
  padding: 10px;
  margin-block: 5px;
  width: 200px;
}

h4 {
  margin: 0px;
  font-weight: 600;
}
